@import "tailwindcss";
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0d0d0d;
  color: white;
  
}


/* Custom scrollbar for Code Studio */
.code-scroll::-webkit-scrollbar {
  width: 10px;
}

.code-scroll::-webkit-scrollbar-track {
  background: #0f0f1f; /* dark track */
  border-radius: 10px;
}

.code-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b135e, #0f0f1f);
  border-radius: 10px;
}

.code-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b135e, #0f0f1f);
}

/* Firefox support */
.code-scroll {
  scrollbar-width: thin;
  scrollbar-color: #3e135e #0f0f1f;
}
